#wrapper{
    position: relative;
    min-height: 100%; 
    margin-bottom: 20px;
}

footer{
    position: absolute;
    bottom: -20px;
    text-align: center;
    left: 0;
    right: 0;
}

#content{
    
}

#header-text{
    text-align: center;
}


product{
    /*width: 33.33%;
    float: left;*/
}

appetizer{
    /*clear: both;*/
}

/* Styling the content area */
md-card.inCart{
    border: 5px solid tomato;
    margin: 3px;
}

md-list-item.selected{
    background: #E1BEE7;
}

/* Styling the footer */
footer{
    background: black;
    color: white;
}