#wrapper{
    position: relative;
    min-height: 100%; 
    margin-bottom: 20px;
}

footer{
    position: absolute;
    bottom: -20px;
    text-align: center;
    left: 0;
    right: 0;
}

#content{
    
}

#header-text{
    text-align: center;
}


product{
    /*width: 33.33%;
    float: left;*/
}

appetizer{
    /*clear: both;*/
}

/* Styling the content area */
md-card.inCart{
    border: 5px solid tomato;
    margin: 3px;
}

table#cart{
    width: 100%; 
    background-color: #f1f1c1;
}

table#cart tr:nth-child(even) {
    background-color: #eee;
}
table#cart tr:nth-child(odd) {
    background-color: #fff;
}
table#cart tr:last-child{
    background:tomato;
}
table#cart th {
    color: white;
    background-color: #8895da;
    line-height: 5rem;
}
table#cart td{
    line-height: 3rem;
    padding-left: 1rem;
}
table#cart .remove:hover{
    background: #c398ca;
    cursor: pointer;
}

md-list-item.selected{
    background: #E1BEE7;
}

md-content.form{
    background: #cab7b7;
}

md-content div.form-title{
    background: #8c9eff;
    padding: 3rem;
}

md-content .form-content{
    padding: 3rem;
}

/* Styling the footer */
footer{
    background: black;
    color: white;
}