<md-card ng-class="{inCart:$ctrl.count,'md-whiteframe-24dp':$ctrl.count}">
    <img ng-src="img/{{$ctrl.product.img}}" class="md-card-image" alt="Washed Out">
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">{{$ctrl.product.name}}</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <p> {{$ctrl.product.description}}  </p>
        <p>Price : {{$ctrl.product.price}} 
            <span ng-show="$ctrl.count > 0" style="float:right;"> Total Price : ${{$ctrl.totalPrice}}</span>
            <span ng-show="$ctrl.count > 0" style="float:right;margin-right: 1rem;"> Count : {{$ctrl.count}} </span>
        </p>
    </md-card-content>
    <md-card-actions layout="column" layout-align="start">
        <md-button ng-click="$ctrl.add()">Add to cart</md-button>
        <md-button ng-click="$ctrl.remove()">Remove From cart</md-button>
    </md-card-actions>
</md-card>